<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerador de assinatura SES</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/css/output.css" /> -->
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header>
      <h1 class="text-red-500">Gerador de assinatura SES</h1>
      <p>Bem vindo! Gere a sua assinatura institucional aqui!</p>
    </header>

    <main class="container">
      <div class="divForm">
        <form action="/submit" method="POST" id="submitForm">
          <div>
            <label>Nome:</label>
            <input type="text" id="nomeUsuario" placeholder="Preencha o seu nome completo." required/>
          </div>

          <div>
            <label>Cargo:</label>
            <input type="text" id="cargoUsuario" placeholder="Preencha o seu cargo. Ex: MGS, Estagio" required/>
          </div>

          <div>
            <label>Orgao:</label>
            <input type="text" id="orgaoUsuario" placeholder="Preencha o orgao. Ex: ASSESSORIA ..." required/>
          </div>

          <div>
            <label>Telefone fixo:</label>
            <input type="tel" id="telFixoUsuario" placeholder="Preencha o seu telefone fixo da SES. Ex: 31 3106-0000" required/>
          </div>

          <div>
            <label>E-mail (SES):</label>
            <input type="email" id="emailUsuario" placeholder="Preencha o seu email institucional. Ex: nononon@saude.mg.gov.br" required/>
          </div>

          <div>
            <label>Andar:</label>
            <input type="text" id="andarUsuario" placeholder="Preencha o andar onde reside. Ex: 13°" required/>
          </div>

          <button type="submit"> 
            Gerar assinatura
          </button>
        </form>

      </div>

      <div class="div-img" id="divImg">
        <h1 id="imgTitle">Exemplo de assinatura</h1>
        <img src="../static/assinatura_exemplo_ses.PNG" alt="img-assinatura" id="imgAssPadrao"/>
        <!-- <button type="button" id="btnDownload">
            Baixar
        </button> -->
      </div>
    </main>

    <script src="../static/js/script.js"></script>
  </body>
</html>
